body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

#table_msg th{
	min-width: 100px;
	text-align: center;	
}


.error , .error:focus{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 5px 5px rgba(0, 0, 0, .075);
}